@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~material-design-lite/material.css";

* {
  font-family: 'Roboto', serif;
}

html, body {
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
  //padding: 5vw;
}

.mdc-toolbar__title {
  padding-left: 8px;
  text-transform: capitalize;
}

.mdc-temporary-drawer__header-content {
  color: #FFF;
}

//.mdc-toolbar__icon, .material-icons {
//  color: #FFF;
//}

.container {
  margin: 20px auto;
  max-width: 700px;

  @media (max-width: 740px) {
    margin: 20px;
  }
}

.login-container {
  margin: 20px auto;
  max-width: 400px;
}

.mdl-card {
  &.centered {
    display: block;
    width: auto;
    max-width: 600px;
    margin: 20px auto;

    @media (max-width: 640px) {
      margin: 20px;
    }

    &.wide {
      max-width: 800px;
    }
  }
}

#login form {
  text-align: center;
}

button-bar,
.mdl-card__actions.centered {
  display: block;
  padding: 10px;
  text-align: center;
}

.mdl-card__supporting-text {
  width: calc(100% - 32px) !important;
}

.spacer {
  flex: 1 0 auto;
}

.mdl-navigation__link .material-icons {
  color: rgba(0, 0, 0, .54);
  width: 24px;
  height: 24px;
  margin-left: 0;
  margin-right: 32px;
}

#create {
  .mdl-textfield {
    width: 100%;
  }

  .mdl-list__item {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mdl-list__item .mdl-textfield {
    width: 90%;
  }
}

.floating-action-button {
  position: fixed !important;
  right: 14px;
  bottom: 14px;
  z-index: 500;
  will-change: bottom;
  transition: bottom .25s ease 50ms;
}
